.Product-page-Controlh {
  width: 99.2vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  background-color: #f0f0f0;
}

.cookieComp {
  width: 99.2vw;
  margin-top: -14.3%;
  z-index: 1;
}
.BEX-handles-the-hard-stuffh {
  width: 500px;
  height: 153px;
  margin: 0 363.1px 63px 50px;
  font-family: Gilroy-ExtraBold;
  font-size: 65px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: center;
  color: #306bdd;
}

.BEX-loc {
  height: 20vh;
}
img.Spend-imgh {
  width: 699.1px;
  height: 503.8px;
  margin: 63px 0 0 214px;
  object-fit: contain;
}

.Rectangle-24940h {
  width: 46px;
  height: 46px;
  margin: 39px 26px 0 0;
  padding: 12px 17px 11px 18px;
  border-radius: 47px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffff;
  margin-top: -50%;
}

.span1h {
  width: 11px;
  height: 24px;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: #30c6c6;
}

.span2h {
  width: 7px;
  height: 23px;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: #838383;
}

.Rectangle-24970h {
  width: 46px;
  height: 46px;
  margin: 0 26px 0.3px 0;
  padding: 11px 19px;
  border-radius: 47px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  border: solid #30c6c6;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-content: center;
}

span {
  width: 11px;
  height: 23px;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: #838383;
}

.spendh {
  width: 91px;
  height: 34px;
  margin: 45px 20.5px 6px 26.5px;
  font-family: Gilroy-Light;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.53;
  letter-spacing: normal;
  text-align: left;
  color: #838383;
}
.Controlh {
  width: 90px;
  height: 37px;
  margin: 4.3px 12.5px 5px 26px;
  font-family: Gilroy-ExtraBold;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.53;
  letter-spacing: normal;
  text-align: left;
  color: #30c6c6;
}
.Line-5297h {
  width: 0;
  height: 47.4px;
  margin: 0.3px 0 37.3px;
  border: solid 1px #707070;
  margin-left: 30%;
}
.Digitize-your-expense-policyh {
  width: 261px;
  height: 54px;
  margin: 65px 72px 50px 0;
  font-family: Gilroy-ExtraBold;
  font-size: 22px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  margin-left: 2%;
  color: #00194a;
}
.right-2h {
  width: 16.4px;
  height: 12.3px;
  margin: 4.8px 10.6px 23.9px 0;
  background-color: #306bdd;
}
.Set-your-spending-policies-and-simplify-your-administration-processh {
  width: 256px;
  height: 41px;
  margin: 0 0 0 10.6px;
  font-family: Lato-Regular;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #00194a;
}
.right-2h {
  width: 16.4px;
  height: 12.3px;
  margin: 4.8px 10.6px 50.9px 0;
  background-color: #306bdd;
}

.Apply-spending-limits-and-restrictions-based-on-each-employee-profile-and-business-needsh {
  width: 256px;
  height: 68px;
  margin: 0 0 0 10.6px;
  font-family: Lato;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #00194a;
}
.div1h {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  margin-top: 5%;
}

.div2h {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-end;
  margin-top: 5%;
}

.div3h {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.div4h {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin-top: -20%;
  margin-left: -5%;
}

.div5h {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: space-around;
  margin-top: -17%;
}

.div6h {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: space-around;
  margin-left: 14%;
}

.div7h {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: space-around;
}
img.Signh {
  width: 16.4px;
  height: 12.3px;
  margin: 5.8px 10.6px 45.9px 0;
  object-fit: contain;
  background-color: var(--azul);
}
