.cookieBackground {
  background-color: #00194a;
}


@media only screen and (min-width: 901px) {

.Cookie-Policy {
  width: 189px;
  height: 26px;
  margin: 25px 617px 21px 3px;
  font-family: Gilroy-ExtraBold;
  font-size: 25px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.48;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  white-space: nowrap;
}
.textWidthCookie{

  width: 60vw;
}
.This-site-uses-cookies-small-text-files-that-are-placed-on-your-machine-to-help-the-site-provide-a-better-user-experience-In-general-cookies-are-used-to-retain-user-preferences-store-information-for-things-like-shopping-carts-and-provide-anonymized-t {
  width: 10%;
  height: 133vh;
  font-family: Lato-Regular;
  font-size: 1vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

img.Do-not-accept {
  width: 170px;
  height: 52px;
  margin: 33px 17px 69px 88px;
  object-fit: contain;

  margin-top: 100%;
}
.cookieButtons {
  margin-top: -10%;
}

img.Accept {
  width: 170px;
  height: 52px;
  margin: 33px 0 69px 17px;
  object-fit: contain;

  margin-top: 100%;
}

.textCookie {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-end;
}
.iAcceptButtonCookie {
  height: 6.5vh;
  width: 10vw;
  margin-left: 30%;
}
.iAcceptCookie {
  font-family: Gilroy-Light;
  font-size: 1vw;
  color: #fff;
  margin-left: -30%;
}
.iDoNotAcceptCookie {
  font-family: Gilroy-Light;
  font-size: 1vw;

  color: #fff;
  margin-left: -80%;
}
.ButtonToBottom {
  margin-top: 5%;
  height: 200px;
}
.cookieButtons {
  visibility: visible;
}

.cookieButtonsForMobile {
  width: 0px;
  height: 0px;
  visibility: hidden;
}
}
@media only screen and (max-width: 900px) {

    .cookieButtonsForMobile {
      visibility: visible;
    margin-top: 20%;
    }
  
    .cookieButtons {
      width: 0px;
      height: 0px;
      visibility: hidden;
    }


  .iAcceptButtonCookie {
    height: 7vh;
    width: 40vw;
  }
  .iAcceptCookie {
    font-family: Gilroy-Light;
    color: #fff;
    margin-left: 0%;
  }
  .iDoNotAcceptCookie {
    font-family: Gilroy-Light;
    font-size: 16px;
    color: #fff;
    margin-left: 0%;
  }

  .Cookie-Policy {
    width: 189px;
    height: 26px;
    margin: 25px 617px 21px 3px;
    font-family: Gilroy-ExtraBold;
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.48;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    white-space: nowrap;
  }

  .This-site-uses-cookies-small-text-files-that-are-placed-on-your-machine-to-help-the-site-provide-a-better-user-experience-In-general-cookies-are-used-to-retain-user-preferences-store-information-for-things-like-shopping-carts-and-provide-anonymized-t {
    width: 500px;
    height: 133px;
    font-family: Lato-Regular;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.75;
    text-align: left;
    color: #fff;
  }

  img.Do-not-accept {
    width: 120px;
    height: 52px;
    margin: 33px 17px 69px 88px;
    object-fit: contain;
    z-index: 1;

    margin-top: 60%;
    margin-left: -220%;
  }
  .cookieButtons {
    margin-left: -20%;
    margin-top: 33%;
  }

  img.Accept {
    width: 120px;
    height: 52px;
    margin: 33px 0 69px 17px;
    object-fit: contain;
    z-index: 1;
    margin-top: 60%;
    margin-left: -0%;
  }

  .textCookie {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-end;
  }
}
