.MainPolicyBackground{
    width:99.2vw;

} 

@media only screen and (min-width: 768px) and (max-width: 800px) {
    .MainPolicyBackground{
        width:100vw;
    
    } 
}



@media only screen and (min-width: 801px) and (max-width: 3000px) {
    .MainPolicyBackground{
        width:100vw;
    
    }
    html,body{
        overflow-x: hidden;
    } 
}


@media only screen and (min-width: 414px) and (max-width: 800px) {
    .MainPolicyBackground{
        width:100vw;
    
    } 
}


@media only screen and (min-width: 100px) and (max-width: 413px) {
    html,body{
        overflow-x: hidden;
    }
    .MainPolicyBackground{
        width:100%;
    
    } 
}

