.div1c {
  width: 100vw;
  height: 100vh;

  background-image: -webkit-image-set(
    url("../../../assets/img/Footer-bg-img.png") 1x,
    url("../../../assets/img/Footer-bg-img@2x.png") 2x,
    url("../../../assets/img/Footer-bg-img@3x.png") 3x
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  contain: content;

  background-position: center;
  background-size: cover;
}

.div2c {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  contain: content;
  background-color: #306bdd;
  background-position: center;
  background-size: cover;
  opacity: 0.82;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.div29C {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.div28C {
  margin-top: -20%;
}
.Lets-connectC {
  width: 372px;
  height: 221px;
  margin: 0 73px 46.5px 0.5px;
  font-family: Gilroy-ExtraBold;
  font-size: 99px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

img.LocationC {
  width: 15.8px;
  height: 20.6px;
  margin: 21.2px 22.3px 21.2px 0;
  object-fit: contain;
}

.areeba-sal-M1-Group-M1-Building-Omar-Daouk-St-Beirut-2020-3315-Lebanon-Email-on-supportareebacomC {
  width: 160px;
  height: 63px;
  margin: 0 0 0 22.3px;
  font-family: Lato-Regular;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

img.PhoneC {
  width: 18.3px;
  height: 18.3px;
  margin: 0 19.8px 0 0;
  object-fit: contain;
}

.-or-01-954-333C {
  width: 104px;
  height: 15px;
  margin: 1px 0 2.3px 19.8px;
  font-family: Lato-Regular;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

img.EmailC {
  width: 18.3px;
  height: 14px;
  margin: 0 20.1px 1px 0;
  object-fit: contain;
}

.SupportareebacomC {
  width: 113px;
  height: 15px;
  margin: 0 0 0 20.1px;
  font-family: Lato-Regular;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Tell-us-more-about-yourselfC {
  width: 288px;
  height: 29px;
  margin: 0 312.5px 49px 0px;
  font-family: Lato-Regular;
  font-size: 24px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.17;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-top: 30%;
  margin-left: -5%;
}

.Fist-nameC {
  width: 59px;
  height: 17px;
  margin: 0 251px 12px 0.5px;
  font-family: Lato-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.86;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Rectangle-24148C {
  width: 290px;
  height: 56px;
  margin: 12px 20.5px 0 0;
  background-color: #fff;
}

.Last-nameC {
  width: 62px;
  height: 17px;
  margin: 0 228px 12px 20.5px;
  font-family: Lato-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.86;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Rectangle-24153C {
  width: 290px;
  height: 56px;
  margin: 12px 0 0 20.5px;
  background-color: #fff;
}

.Email-addressC {
  width: 84px;
  height: 17px;
  margin: 0 516px 12.2px 0.5px;
  font-family: Lato-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.86;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Rectangle-24150C {
  width: 600.5px;
  height: 56px;
  margin: 12.2px 0 0;
  background-color: #fff;
}

.MessageC {
  width: 54px;
  height: 17px;
  margin: 0 545.5px 11.6px 0.5px;
  font-family: Lato-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.86;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Path-162308C {
  width: 600px;
  height: 101px;
  margin: 11.6px 0 0;
  background-color: #fff;
}

.Rectangle-24977C {
  width: 600px;
  height: 56px;
  margin: 10.4px 0px 123.9px 48px;
  padding: 16px 247px 17px;
  background-color: #30c675;
  margin-top: 10%;
  margin-left: 0%;
}

.Get-in-TouchC {
  width: 106px;
  height: 23px;
  font-family: Lato-Bold;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

img.Footer-bg-imgC {
  width: 1366px;
  height: 850px;
  margin: 762px 0 0;
  padding: 90.3px 100px 49.3px 99.5px;
  object-fit: contain;
}

img.Social-media-iconsC {
  width: 159.8px;
  height: 16.8px;
  margin: 31.9px 47.2px 141.7px 0.5px;
  object-fit: contain;
}

.div7C {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin-top: -10%;
}

.Line-5301C {
  width: 347.1px;
  height: 0;
  margin: 22.8px 97px 0 1.4px;
  opacity: 0.5;
  border: solid 0.5px #fff;
  margin-top: 15%;
}

.div6C {
  margin-top: 15%;
}

.div5C {
  margin-top: 8%;
  margin-left: -51%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.div9C {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin-left: -53%;
}

.div10C {
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin-left: -45%;
}

.div11C {
  margin-top: 20%;
}

.div12C {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin-top: -20%;
}

.div13C {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin-top: 2%;
}

.div14C {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin-left: -4%;
}

.div16C {
  margin-top: 3%;
}
.div15C {
  margin-top: 3%;
}
.div19C {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin-left: -3%;
  margin-top: 0%;
}

.div20C {
  margin-top: -2%;
}

.Path-162316C {
  width: 90vw;
  height: 0;
  margin: 123.9px 0 0;
  opacity: 0.3;
  border: solid 1px #ddd;
  margin-top: 0%;
  margin-left: 1%;
  background-color: #306bdd;
}

img.AreebaC {
  width: 62.8px;
  height: 17.1px;
  margin: 30.2px 21.6px 6.4px 0.5px;
  object-fit: contain;
}

img.MastercardC {
  width: 47.3px;
  height: 29.2px;
  margin: 24.1px 75.3px 0.4px 21.6px;
  object-fit: contain;
}

.Privacy-PolicyC {
  width: 75px;
  height: 18px;
  margin: 35.1px 34px 0.7px 8.9px;
  font-family: Lato-Bold;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: white;
}

.Terms-of-ServiceC {
  width: 88px;
  height: 15px;
  margin: 35.1px 41px 3.7px 34px;
  font-family: Lato-Bold;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: white;
}

.Cookie-PolicyC {
  width: 73px;
  height: 15px;
  margin: 35.1px 47.5px 3.7px 41px;
  font-family: Lato-Bold;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: white;
}

.-Bex-All-Rights-Reserved {
  width: 162px;
  height: 15px;
  margin: 38.8px 0px 0 486px;
  opacity: 0.7;
  font-family: Lato-Bold;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.33;
  letter-spacing: normal;
  text-align: right;
  color: white;
}

.div40C {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: stretch;
  white-space: nowrap;
}
