.-Acceptance-of-termsTe {
  width: 407px;
  height: 40px;
  margin: 97px 104px 30px 100px;
  font-family: Gilroy-ExtraBold;
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-left: 0%;
}
.-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industryLorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-Lorem-Ipsum-is-simply-duTe {
  font-family: Lato-Regular;
  font-size: 200%;

  font-stretch: semi-condensed;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #626262;
  font-weight: 100;
}

.-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industryLorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-Lorem-Ipsum-is-simply-duTe
  .text-style-1Te {
  font-weight: bold;
  font-size: 100%;

  font-stretch: semi-condensed;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #4e4a4a;
}

.-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industryLorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-Lorem-Ipsum-is-simply-duTe
  .text-style-2Te {
  font-weight: bold;
  font-size: 100%;

  font-stretch: semi-condensed;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #4e4a4a;
}

.-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industryLorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-Lorem-Ipsum-is-simply-duTe
  .text-style-3Te {
  font-weight: bold;
  font-size: 100%;

  font-stretch: semi-condensed;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #4e4a4a;
}

.textTerms {
  margin-top: 9%;
  margin-left: 5%;
  width: 80vw;
}
.-Privacy-complaintsTe {
  width: 378px;
  height: 40px;
  margin: 100px 9px 30px 100px;
  font-family: Gilroy-ExtraBold;
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-left: 0%;
}

.-Data-retention-and-data-probabilityTe {
  width: 656px;
  height: 40px;
  margin: 100px 367px 30px 100px;
  font-family: Gilroy-ExtraBold;
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-left: 0%;
}
.-How-your-personal-information-is-usedTe {
  width: 725px;
  height: 40px;
  margin: 100px 298px 30px 100px;
  font-family: Gilroy-ExtraBold;
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-left: 0%;
}

.-Links-to-third-party-siteTe {
  width: 445px;
  height: 40px;
  margin: 100px 66px 30px 100px;
  font-family: Gilroy-ExtraBold;
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-left: 0%;
}

.-Non-discriminationTe {
  width: 373px;
  height: 40px;
  margin: 100px 14px 30px 100px;
  font-family: Gilroy-ExtraBold;
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-left: 0%;
}

.-Data-retention-and-data-probabilityTe {
  width: 656px;
  height: 40px;
  margin: 100px 367px 30px 100px;
  font-family: Gilroy-ExtraBold;
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-left: 0%;
}

.-How-your-personal-information-is-usedTe {
  width: 725px;
  height: 40px;
  margin: 100px 298px 30px 100px;
  font-family: Gilroy-ExtraBold;
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-left: 0%;
}

.div1Te {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.textTitle {
  margin-top: 2%;
}

.footerColorTe {
  background-color: #306bdd;
  height: 25vh;
  width: 99.2vw;
  margin-top: 15%;
}

.footerLineTerms {
  width: 90vw;
  height: 0;
  margin: 123.9px 0 0;
  opacity: 0.3;
  border: solid 1px #ddd;
  margin-top: 1%;
  margin-left: 4.5%;
}

.footerDivTermsMobile {
  width: 0px;
  height: 0px;
  visibility: hidden;
}
.footerDivTerms {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: stretch;
  white-space: nowrap;
  margin-top: 0%;
}

img.AreebaTe {
  width: 62.8px;
  height: 17.1px;
  margin: 30.2px 21.6px 6.4px 0.5px;
  object-fit: contain;
  margin-left: 5%;
}

img.MastercardTe {
  width: 47.3px;
  height: 29.2px;
  margin: 24.1px 75.3px 0.4px 21.6px;
  object-fit: contain;
  margin-left: -50%;
}

.foterLinks {
  margin-left: -50%;
}

.Cookie-PolicyTe {
  width: 73px;
  height: 15px;
  margin: 35.1px 47.5px 3.7px 41px;
  font-family: Lato-Bold;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: white;
  margin-left: 4%;
  text-decoration: underline;
}

.-Bex-All-Rights-ReservedTe {
  width: 162px;
  height: 15px;
  margin: 38.8px 0px 0 486px;
  opacity: 0.7;
  font-family: Lato-Bold;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.33;
  letter-spacing: normal;
  text-align: right;
  color: white;
  margin-left: -55%;
}

.Privacy-PolicyTe {
  width: 75px;
  height: 18px;
  margin: 35.1px 34px 0.7px 8.9px;
  font-family: Lato-Bold;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: white;
  text-decoration: underline;
}

.Terms-of-ServiceTe {
  width: 88px;
  height: 15px;
  margin: 35.1px 41px 3.7px 34px;
  font-family: Lato-Bold;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: white;
  text-decoration: underline;
}

.Download-nowTe {
  width: 175px;
  height: 25px;
  margin: 14.5px 43px 36.7px 102.5px;
  font-family: Gilroy-ExtraBold;
  font-size: 25px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

img.Group-17Te {
  width: 142px;
  height: 50px;
  margin: 0 20px 26.2px 43px;
  object-fit: contain;
margin-left: 5%;
}

img._play-store-icon-android-app-on-google-playTe {
  width: 143px;
  height: 50px;
  margin: 0 740.5px 26.2px 20px;
  object-fit: contain;
  border-radius: 6px;
  margin-left: 0%;
}

.storePlay {
  margin-top: -11%;
  z-index: 1;
}

.areebaMastercardRightsTermsMobile {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

img.AreebaTeMobile {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

img.MastercardTeMobile {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.bex-RightsMobile {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.Cookie-PolicyTeMobile {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.-Bex-All-Rights-ReservedTeMobile {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.Privacy-PolicyTeMobile {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.Terms-of-ServiceTeMobile {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.foterLinksMobile {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.termsFlex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}
.screenWidth{

  display: flex; 
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
  
}


@media only screen and (max-width: 600px) {
  .screenWidth {
    width: 65.8vw;
  }


  .-Acceptance-of-termsTe {
    width: 407px;
    height: 40px;
    margin: 97px 104px 30px 100px;
    font-family: Gilroy-ExtraBold;
    font-size: 46px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-left: 0%;
    white-space: nowrap;
  }
  .-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industryLorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-Lorem-Ipsum-is-simply-duTe {
    font-family: Lato-Regular;
    font-size: 400%;
    font-stretch: semi-condensed;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #626262;
    font-weight: 100;
  }

  .-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industryLorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-Lorem-Ipsum-is-simply-duTe
    .text-style-1Te {
    font-weight: bold;
    font-size: 100%;

    font-stretch: semi-condensed;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #4e4a4a;
  }

  .-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industryLorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-Lorem-Ipsum-is-simply-duTe
    .text-style-2Te {
    font-weight: bold;
    font-size: 100%;

    font-stretch: semi-condensed;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #4e4a4a;
  }

  .-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industryLorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-Lorem-Ipsum-is-simply-duTe
    .text-style-3Te {
    font-weight: bold;
    font-size: 100%;

    font-stretch: semi-condensed;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #4e4a4a;
  }

  .textTerms {
    margin-top: 90%;
    margin-left: 60%;
    width: 80vw;
  }

  .-Privacy-complaintsTe {
    width: 378px;
    height: 40px;
    margin: 100px 9px 30px 100px;
    font-family: Gilroy-ExtraBold;
    font-size: 46px;
    white-space: nowrap;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-left: 0%;
  }

  .-Data-retention-and-data-probabilityTe {
    font-family: Gilroy-ExtraBold;
    font-size: 46px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-left: 0%;
  }
  .-How-your-personal-information-is-usedTe {
    width: 725px;
    height: 40px;
    margin: 100px 298px 30px 100px;
    font-family: Gilroy-ExtraBold;
    font-size: 46px;
    white-space: nowrap;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-left: 0%;
  }

  .-Links-to-third-party-siteTe {
    width: 445px;
    height: 40px;
    margin: 100px 66px 30px 100px;
    font-family: Gilroy-ExtraBold;
    font-size: 46px;
    white-space: nowrap;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-left: 0%;
  }

  .-Non-discriminationTe {
    width: 373px;
    height: 40px;
    margin: 100px 14px 30px 100px;
    font-family: Gilroy-ExtraBold;
    font-size: 46px;
    white-space: nowrap;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-left: 0%;
  }

  .-Data-retention-and-data-probabilityTe {
    width: 656px;
    height: 40px;
    margin: 100px 367px 30px 100px;
    font-family: Gilroy-ExtraBold;
    font-size: 46px;
    white-space: nowrap;

    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-left: 0%;
  }

  .-How-your-personal-information-is-usedTe {
    width: 300px;
    height: 40px;
    margin: 100px 298px 30px 100px;
    font-family: Gilroy-ExtraBold;
    font-size: 46px;
    white-space: nowrap;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-left: 0%;
  }

  .termsFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
  }

  .textTitle {
    margin-top: 40%;
    width: 250vw;
    font-size: 10px;
    margin-left: 5%;
  }

  .footerColorTe {
    background-color: #306bdd;
    height: 100vh;
    width: 300vw;
    margin-top: 90%;
  }

  .footerLineTerms {
    width: 250vw;
    height: 0;
    margin: 123.9px 0 0;
    opacity: 0.3;
    border: solid 1px #ddd;
    margin-top: 1%;
    margin-left: 30%;
  }

  .footerDivTerms {
    display: none;
  }

  img.AreebaTe {
    display: none;
  }

  img.MastercardTe {
    display: none;
  }

  .foterLinks {
    display: none;
  }

  .Cookie-PolicyTe {
    display: none;
  }

  .-Bex-All-Rights-ReservedTe {
    display: none;
  }

  .Privacy-PolicyTe {
    display: none;
  }

  .Terms-of-ServiceTe {
    display: none;
  }

  .footerDivTermsMobile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    visibility: visible;
    margin-top: 20vh;
  }

  .areebaMastercardRightsTermsMobile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;

    visibility: visible;
    margin-left: 500%;
  }

  img.AreebaTeMobile {
    width: 100px;
    height: 100px;
    margin: 6px 14.6px 6px 0;
    object-fit: contain;
    visibility: visible;
    margin-left: 25vw;
  }

  img.MastercardTeMobile {
    width: 100px;
    height: 100px;
    margin: 0 0 0 14.6px;
    object-fit: contain;
    visibility: visible;
    margin-left: 20vw;
  }
  .bex-RightsMobile {
    visibility: visible;
    margin-left: -45vw;
    margin-top: -5vh;
    
  }
  .bex-Rights {
    display: none;
  }
  .Cookie-PolicyTeMobile {
    width: 730px;
    height: 15px;
    margin: 35.1px 47.5px 3.7px 41px;
    font-family: Lato-Bold;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.08;
    letter-spacing: normal;
    text-align: left;
    color: white;
    text-decoration: underline;
    white-space: nowrap;
    visibility: visible;
  }

  .-Bex-All-Rights-ReservedTeMobile {
    width: 162px;
    height: 15px;
    opacity: 0.9;
    font-family: Lato-Bold;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.33;
    letter-spacing: normal;
    margin-left:110vw;
    margin-top: 20vh;
    color: aqua;
    white-space: nowrap;
    visibility: visible;
  }

  .Privacy-PolicyTeMobile {
    width: 750px;
    height: 18px;
    margin: 35.1px 34px 0.7px 8.9px;
    font-family: Lato-Bold;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.08;
    letter-spacing: normal;
    text-align: left;
    color: white;
    text-decoration: underline;
    white-space: nowrap;
    visibility: visible;
  }

  .Terms-of-ServiceTeMobile {
    width: 880px;
    height: 15px;
    margin: 35.1px 41px 3.7px 34px;
    font-family: Lato-Bold;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.08;
    letter-spacing: normal;
    text-align: left;
    color: white;
    text-decoration: underline;
    white-space: nowrap;
    visibility: visible;
  }
  .foterLinksMobile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    margin-top: 20vh;
    margin-left: 30vw;
    visibility: visible;
  }
  .Download-nowTe {
    width: 175px;
    height: 25px;
    margin: 14.5px 43px 36.7px 102.5px;
    font-family: Gilroy-ExtraBold;
    font-size: 60px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    white-space: nowrap;
    margin-top: -40%;
    margin-left: 27%;
  }

  img.Group-17Te {
    width: 250px;
    height: 100px;
    margin: 0 20px 26.2px 43px;
    object-fit: contain;
    margin-left: 30%;
    margin-top: 20%;
  }

  img._play-store-icon-android-app-on-google-playTe {
    width: 250px;
    height: 100px;
    margin: 0 740.5px 26.2px 20px;
    object-fit: contain;
    border-radius: 6px;
    margin-left: 160%;
    margin-top: -60%;
  }

  .storePlay {
    margin-top: -220%;
    z-index: 1;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
  }
  .bex-Rights {
    display: none;
  }
}
