.Rectangle-24968I {
  width: 99.2vw;
  height: 100vh;

  background-image: -webkit-image-set(
    url("../../../assets/img/Mask-Group2.png") 1x,
    url("../../../assets/img/Mask-Group2@2x.png") 2x,
    url("../../../assets/img/Mask-Group2@3x.png") 3x
  );
  background-repeat: no-repeat;
  background-attachment: fixed; 

  contain: content;
  background-position: center;
  background-size: cover;
}

.div6I {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  contain: content;
  background-color: #00194a;
  background-position: center;
  background-size: cover;
  opacity: 0.82;
}
.We-are-BEXI {
  width: 392px;
  height: 86px;
  margin: 0 0 21px;
  font-family: Gilroy-ExtraBold;
  font-size: 70px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-top: -20%;
  margin-left: -40%;
  z-index: 1;
  white-space: nowrap;

}

.Designed-by-a-team-of-experts-from-areeba-and-Mastercard-with-extensive-knowledge-in-fintech-and-digital-payments-with-the-mission-of-helping-businesses-save-time-and-moneyI {
  width: 364px;
  height: 116px;
  margin: 21px 28px 0 0;
  font-family: Lato-Regular;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-top: 10%;
  margin-left: -40%;
  z-index: 1;
}

img.Mask-Group-545I {
  width: 487.7px;
  height: 305.4px;
  margin: 77.2px 245.3px 0 0;
  object-fit: contain;
  z-index: 1;
}

.div1I {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

img.areeba-whiteI {
  width: 69.5px;
  height: 19px;
  margin: 0 232.5px 15.1px 0;
  object-fit: contain;
  z-index: 1;
}

.areeba-is-a-leading-financial-technology-company-driven-forward-by-the-innovative-approach-of-changing-the-way-payments-are-made-For-more-info-visit-our-website-areebacomI {
  width: 301px;
  height: 76px;
  margin: 15.1px 0 0 1px;
  font-family: Lato-Regular;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.areeba-is-a-leading-financial-technology-company-driven-forward-by-the-innovative-approach-of-changing-the-way-payments-are-made-For-more-info-visit-our-website-areebacomI
  .text-style-1I {
  font-weight: bold;
  font-family: Lato-Regular;
  text-decoration: underline;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

img.Mastercard-TxtI {
  width: 128.9px;
  height: 29.6px;
  margin: 0 264px 8.9px 0;
  object-fit: contain;
}

.Mastercard-is-a-global-technology-company-in-the-payments-industry-Our-mission-is-to-connect-and-power-an-inclusive-digital-economy-that-benefits-everyone-everywhere-by-making-transactions-safe-simple-smart-and-accessible-For-more-info-visit-our-websI {
  width: 382px;
  height: 96px;
  margin: 8.9px 0 0 11px;
  font-family: Lato-Regular;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Mastercard-is-a-global-technology-company-in-the-payments-industry-Our-mission-is-to-connect-and-power-an-inclusive-digital-economy-that-benefits-everyone-everywhere-by-making-transactions-safe-simple-smart-and-accessible-For-more-info-visit-our-websI
  .text-style-1I {
  font-weight: bold;
  font-family: Lato-Regular;
  text-decoration: underline;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.div2I {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin-top: 60%;
}

.upperLayer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
  z-index: 1;
}

.div3I {
  z-index: 1;
}
